/* ----------------------------------------- Imports ------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Harmattan";
}

.menu {
  border: 1px solid black;
  margin: auto;
  bottom: 0;
  position: fixed;
  display: flex;
  width: 50%;
  height: 100px;
  left: 25%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
}

.menu .curso {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.menu .acesso {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.menu .saidas {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.menu .plano {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.menu .portfolio {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.top-page{
  width: 1170px;
  height: auto;
  margin: auto;
}

.logo {
  position:fixed;
  width: 1170px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  height: 130px;
}

scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  margin-top: 20px;
  width: 1170px;
  border: 1px solid red;
  height: 450px;
}

.scroll {
  margin: auto;
  bottom: 0;
  position: fixed;
  width: 50%;
  height: 100px;
  left: 25%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
}

.btn {
  margin-left: 50px;
  margin-right: 20px;
  height: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.img {
  margin-left: 35%;
  width: 30%;
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}

.text {
  width: auto;
  height: auto;
  text-align: center;
}

.waviy {
  height: auto;
}

.waviy span {
  display: inline-block;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  animation: flip 7s infinite;
  animation-delay: calc(.4s * var(--i))
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg)
  }
}

.p{
  margin-left: 15px;
  font-size:20px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
