/* ----------------------------------------- Imports ------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

/* ----------------------------------------- Variables ------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Harmattan";
  overflow: hidden;  /* Remove scroll bar */
}

/* ----------------------------------------- End Variables ------------------------------------------------------ */

/* ----------------------------------------- Header ------------------------------------------------------ */
.logo {
  position:fixed;
  width: 1170px;
  text-align: center;
  background-color: white;
  height: 80px;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.top-page{
  width: 1170px;
  height: auto;
  margin: auto;
}

.logoImg{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px 60px 20px 60px;
  cursor: pointer;
}
/* ----------------------------------------- End Header ------------------------------------------------------ */


/* ----------------------------------------- Menu ------------------------------------------------------ */
.menu {
  /* border: 1px solid black; */
  margin: auto;
  bottom: 0;
  position: fixed;
  display: flex;
  width: 50%;
  height: 100px;
  left: 25%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu .curso {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.menu .acesso {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.menu .saidas {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.menu .plano {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.menu .portfolio {
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.btn {
  margin-left: 50px;
  margin-right: 20px;
  height: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.img {
  margin-left: 35%;
  width: 30%;
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}

.text {
  width: auto;
  height: auto;
  text-align: center;
}

.p{
  margin-left: 15px;
  font-size:20px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* ----------------------------------------- End Menu ------------------------------------------------------ */

/* ----------------------------------------- Content ------------------------------------------------------ */
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  margin-top: 20px;
  width: 1170px;
  /* border: 1px solid red; */
  margin: auto;
  height: 70%;
  margin-bottom: 12%;
}

.main-content{
  font-size: 20px;
  margin-top: 25px;
}

.planoc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* ----------------------------------------- End Content ------------------------------------------------------ */

/* ----------------------------------------- Animations ------------------------------------------------------ */
.waviy {
  height: auto;
}

.waviy span {
  display: inline-block;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  animation: flip 7s infinite;
  animation-delay: calc(.4s * var(--i))
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg)
  }
}


/* ----------------------------------------- End Animations ---------------------------------------------------- */
