body{
    margin:0 auto; 
}
.menu{
    border: 1px solid black;
    margin: auto;
    bottom: 0;
    position: relative;
    width: 50%;
    height: 100px;
    position: fixed;
    left: 25%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
}

.logo{
    position: fixed;
    left: 25%;
    margin: 0 auto;
    width: 50%;
    border: 1px solid black;
    text-align: center;
}

.main{
    width: 50%;
    border: 1px solid black;
    height: auto;
   padding-top: 8%;
   margin-left: 25%;
}